{% extends 'base.html' %}
{% block body %}
<div class="login-page">
  <div class="form">
    <form class="login" method="post">
    {% csrf_token%}
        <input name="name"  type="text" placeholder="название фермы"/>
      <input name="address"  type="text" placeholder="адресс"/>
      <input name="phone_number"  type="text" placeholder="контактный номер"/>
      <input name="name_directors"  type="text" placeholder="ФИО директора"/>
      <input name="phone_directors"  type="text" placeholder="номер директора"/>
      <button>Подтвердить</button>
    </form>

  </div>
</div>

{% endblock %}